body{
	font-size: ;
	color:#3C8FE7;
	font-weight:600;
}
header{
background:#039be5;	
color:#FFF;
vertical-align:middle;
}

h3{font-weight:600;}
h1{font-weight:600;}
h10{font-size:25px;}

.loginBox{
	
	display: flex;
	justify-content: center;
	align-items: center;
	border: 3px solid #f1f1f1;
	position: fixed;
	margin: 0 auto;
	width: 35%;
	margin-top: 10em;
	position:relative;
}
button{
background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}
