@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital@0;1&display=swap');

:root{
    --azul:#10739E;
    --rojo: #EB173A;
    --rosado: #FFE6EA;
    --celeste: #01A4EB;
    --amarillo: #EBE117;
    --dorado: #9E9708;
    --texto: #4F4F4E;
    --fondo: #E0DFDE;

    --c1:#1b262c;
    --c2:#0f4c75;
    --c3:#3282b8;
    --c4:#bbe1fa;
}
body{
    background: var(--fondo);
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
}
button{
    width: 80px;
    height: 30px;
    background: var(--azul);
}
.contenedor{
    display: grid;
    grid-template-columns: 260px 1fr;
    grid-template-rows: 60px 1fr 30px;
    grid-template-areas: "logo cabecera"
                         "sidebar contenido"
                         "footer footer";
}
.logo{
    grid-area: logo;
    background-color: var(--c2);
}

.cabecera{
    grid-area: cabecera;
    background-color: var(--c2);
    display: flex;
    justify-content: space-between;
    align-content: center;
}
.sidebar{
    grid-area: sidebar;
    background-color: var(--c1);
}

.contenido{
    grid-area: contenido;
    padding: 10px;
    margin: 10px 10px;
    color: var(--texto);
    background: #fff;
}

.footer{
    background-color: var(--c4);
    grid-area: footer;
    padding: 40px;
}
.dropdown-item{
    color: var(--dorado);
    margin-left: 20px;
}